<header id="top-bar">
  <ul>
    <li class="toleft"><img id="logoimg" src="assets/logo.png" />
    <li class="toleft" id="logo">FIXEDCHANCE</li>
    <li class="toleft"><a routerLink="../home">DASHBOARD</a></li>
    <li class="toright"><a (click)="onLogoutClick()">LOGOUT</a></li>
    <li class="toright"><a routerLink="../profile">PROFILE</a></li>
  </ul>
</header>

<div id="bck"></div>

<div id="main-content">

  <div id="title-div">
    <h1 id="title">AVAILABLE COURSES</h1>
  </div>
  
  <hr>
  
  <div id="courses" *ngIf="courses">
    <div class="course" (click)="onCourseClick($event)" id="{{ course.id }}" *ngFor="let course of courses">
      <span class="course-name">{{ course.name }}</span>
    </div>
  </div>

</div>
  