<header id="top-bar">
  <ul>
    <li class="toleft"><img id="logoimg" src="assets/logo.png" />
    <li class="toleft" id="logo">FIXEDCHANCE</li>
    <li class="toleft"><a routerLink="../home">DASHBOARD</a></li>
    <li class="toleft"><a routerLink="../users">USERS</a></li>
    <li class="toright"><a (click)="onLogoutClick()">LOGOUT</a></li>
    <li class="toright"><a routerLink="../profile">PROFILE</a></li>
  </ul>
</header>

<div id="bck"></div>

<div id="main-content">

  <div id="title-div">
    <h1 id="title">AVAILABLE COURSES</h1>
  </div>
  
  <hr>
  
  <ng-template #t let-fill="fill">
    <span class="star" [class.full]="fill === 100">
      <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
    </span>
  </ng-template>
  
  <div id="courses" *ngIf="courses">
    <div *ngFor="let course of courses">
      <div *ngIf="!checkForStudent(course)">
        <div name="true" class="course" (click)="onCourseClick($event)" id="{{ course.id }}">
          <div class="course-name">{{ course.name }}</div>
          <div class="course-rating">
            <ngb-rating [rate]="course.rating" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
          </div>
          <div class="course-price">{{ (5 + (0.6 * course.questions.length) + (0.5 * course.videos.length) + (0.3 * course.teacherLevel)) | number }}$</div>
        </div>
      </div>
    </div>
  </div>
  
  <hr>

  <div id="title-div">
    <h1 id="title">PURCHASED COURSES</h1>
  </div>
    
  <hr>
  <div id="courses" *ngIf="courses">
      <div *ngFor="let course of courses">
        <div *ngIf="checkForStudent(course)">
          <div name="false" class="course" (click)="onCourseClick($event)" id="{{ course.id }}">
            <div class="course-name">{{ course.name }}</div>
            <div class="course-rating">
                <ngb-rating [rate]="course.rating" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
            </div>
          </div>
        </div>
      </div>
    </div>
    
</div>
  