#title-div {
    margin: 0 auto;
    position: relative;
    text-align: center;
}

#title-div #title {
    padding-top: 30px;
    position: relative;
}

#courses {
    margin: 0 auto;
    position: relative;
    width: 800px;
    text-align: center;
    font-size: 32px;
}

.course {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border: 2px solid black;
    background: rgba(0, 0, 0, .6);
    margin-top: 10px;
    padding: 50px;
    border-radius: 30px;
    animation: all 2s ease-in-out;
    transition: 0.5s;
}

.course:hover {
    border: 2px solid orange;
    animation: all 2s ease-in-out;
    transition: 0.5s;
    color: orange;
    cursor: pointer;
}

.course-name {
    pointer-events: none;
}
.course-rating {
    pointer-events: none;
}

.course-price {
    pointer-events: none;
}

#main-content {
    position: relative;
}

.star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
}
.full {
    color: gold;
}
.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: gold;
}