<div id="dark-background" *ngIf="showCourse" (click)="backToProfile()"></div>

<header id="top-bar">
  <ul *ngIf="contentLoaded">
    <li class="toleft"><img id="logoimg" src="assets/logo.png">
      <li class="toleft" id="logo">FIXEDCHANCE</li>
      <li class="toleft"><a routerLink="../home">DASHBOARD</a></li>
      <li *ngIf="user.user.authorities[0] === 'ROLE_STUDENT'" class="toleft"><a routerLink="../courses">COURSES</a></li>
      <li *ngIf="user.user.authorities[0] === 'ROLE_TEACHER'" class="toleft"><a routerLink="../add-course">ADD COURSE</a></li>
      <li class="toleft"><a routerLink="../users">USERS</a></li>
      <li class="toright"><a (click)="authService.onLogOutClick()">LOGOUT</a></li>
    </ul>
  </header>
  
<div id="bck"></div>

<div id="main-content" *ngIf="contentLoaded">

  <div class="info-header">

    <div class="picture">
      <iframe [src]="blob | safe"></iframe><br>
      <input type="file" name="file" id="file" class="image-button" (change)="selectFile($event)"/>
      <label for="file">Choose Profile Picture</label>
    </div>

      <div class="user-info">
        <circle-progress
        (click)="addXp()"
        [percent]="percentage"
        [title]="userLevel"
        [titleFontSize]="68"
        [subtitle]="getExp()"
        [radius]="100"
        [subtitleFontSize]="36">
      </circle-progress>
      
      <div class="data">
        <i class="fa fa-envelope"></i>{{ user.email }}<br>
        <i class="fa fa-address-card"></i>{{ user.firstName + " " + user.lastName}}<br> 
        <i class="fa fa-birthday-cake"></i>{{ userBirthDate }}<br>
        <i *ngIf="user.user.authorities[0] === 'ROLE_TEACHER'" class="fa fa-book"></i>
        <i *ngIf="user.user.authorities[0] === 'ROLE_STUDENT'" class="fa fa-graduation-cap"></i>
        <i *ngIf="user.user.authorities[0] === 'ROLE_COMPANY'" class="fa fa-building"></i>
        <i *ngIf="user.user.authorities[0] === 'ROLE_ADMIN'" class="fa fa-connectdevelop"></i>{{ user.user.authorities[0].split("_")[1] }}<br>
      </div>
  </div>
    
  </div>

  <div class="courses">
    <p *ngIf="user.user.authorities[0] === 'ROLE_STUDENT'">YOUR PURCHASED COURSES</p>
    <p *ngIf="user.user.authorities[0] === 'ROLE_TEACHER'">YOUR COURSES</p>
    <hr>
    <div class="course" *ngFor="let course of courses">
      <div *ngIf="user.user.authorities[0] === 'ROLE_STUDENT'" class="course-name" (click)="onStudentCourseClick($event)" id="{{ course.id }}">{{ course.name }}</div>
      <div *ngIf="user.user.authorities[0] === 'ROLE_TEACHER'" class="course-name" (click)="onTeacherCourseClick($event)" id="{{ course.id }}">{{ course.name }}</div>
    </div>
  </div> 
</div>