<div id="dark-background" *ngIf="showCourse" (click)="backToProfile()"></div>

<header id="top-bar">
  <ul>
    <li class="toleft"><img id="logoimg" src="assets/logo.png">
    <li class="toleft" id="logo">FIXEDCHANCE</li>
    <li class="toleft"><a routerLink="../home">DASHBOARD</a></li>
    <li class="toleft"><a routerLink="../courses">COURSES</a></li>
    <li class="toright" routerLink=""><a>LOGOUT</a></li>
  </ul>
</header>

<div id="bck"></div>

<div class="progress-wrapper">
  <round-progress id="progress" [current]="currentExp" [max]="expToNextLevel"></round-progress>
  <div class="text">{{ userLevel }}
    <br> {{ currentExp }} / {{ expToNextLevel }}
    <br> {{ percentage }}%
  </div>
  <div class="data">
    E-mail: {{ user.email }}
    <br> Name: {{ user.firstName + " " + user.lastName}}
    <br> Birth date: {{ userBirthDate }}
    <br> Role: {{ user.role }}
    <br>
    <div *ngIf='isValid()'>
      <button class="prof-button" routerLink="../add-course">Add Course</button>
    </div>
    <div>
      <button class="prof-button" (click)="addXp()">Add XP</button>
    </div>
  </div>
</div>

<div class="courses">
  <p>YOUR FINISHED COURSES</p>
  <hr>
  <div class="course">
    <div class="courseTopic" (click)="showCourses($event)" id="programming">Programming</div>
    <div class="courseTopic" (click)="showCourses($event)" id="videos">Video Editing</div>
    <div class="courseTopic" (click)="showCourses($event)" id="photos">Photos Editing</div>
    <div class="courseTopic" (click)="showCourses($event)" id="softs">Soft skills</div>
  </div>
</div> 

<div id="showCourse" *ngIf="showCourse">
    <div class="courseName" *ngFor="let course of courseEntries">
      {{ course }}
    </div>
</div>