#button {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: 'Teko', sans-serif;
  font-size: 30px;
  cursor: pointer;
  width: 80px;
  padding: 0;
  margin-left: 160px;
}

section div:nth-of-type(2) {
  grid-column: 2 / 4;
}

.form-div {
  position: absolute;
  left: 40%;
  right: 40%;
}

* {
    box-sizing: border-box;
  }

#wall {
  position: relative;
}

#page {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgb(149,149,149); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

textarea {
  width: 100%;
  resize: vertical;
}

#shareButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
}

#wall .item {
  display: block;
  color: black;;
  background-color: lightgray;
  border: 2px solid;
  border-color: orange;
  margin:0 auto;
  width: 50%;
}

.hidden {
  display: none;
}

#ajax {
  background: #151515;
  color:white;
  height: 100%;
  position: relative;
  text-align: center;
  width: 200px;
}


#top-bar input:focus {
  animation: glow 800ms ease-out infinite alternate;
  background: #222922;
  background: linear-gradient(#333933, #222922);
  border-color: rgb(245, 170, 7);
  box-shadow: 0 0 5px rgb(245, 170, 7), inset 0 0 5px rgb(245, 170, 7), 0 2px 0 #000;
  color: #efe;
  outline: none;
}

@keyframes glow {
  0% {
  border-color: rgb(245, 170, 7);
  box-shadow: 0 0 5px rgb(245, 170, 7), inset 0 0 5px rgb(245, 170, 7), 0 2px 0 #000;
  }	
  100% {
  border-color: rgb(245, 170, 7);
  box-shadow: 0 0 20px rgb(245, 170, 7), inset 0 0 10px rgb(245, 170, 7), 0 2px 0 #000;
  }
}