<div id="dark-background" *ngIf="isSignIn || isSignUp" (click)="backToMain()"></div>


<header id="top-bar">
  <ul>
	<li class="toleft"><img id="logoimg" src="assets/logo.png" />
	<li class="toleft" id="logo">FIXEDCHANCE</li>
    <li class="toright" (click)="onSignInClick()"><a>SIGN IN</a></li>
    <li class="toright" (click)="onSignUpClick()"><a>SIGN UP</a></li>
  </ul>
</header>

<div id="main-first-div">
	<img src="assets/bckgrnd.jpg">

	<div id="main-text">
		<p id="title">Fixed Chance</p>
		<p id="desc">description description description description description<br>
			description description description description description<br>
			description description description description description<br>
			description description description description description<br>
			description description description description description<br>
			description description description description description<br>
			description description description description description<br>
			description description description description description<br>
			description description description description description<br>
			description description description description description<br>
			description description description description description<br>
			description description description description description<br></p>
	</div>
		
	<div class="form-div" *ngIf="isSignIn">
		<app-login></app-login>
	</div>
	
	<div class="form-div" *ngIf="isSignUp">
		<app-register></app-register>
	</div>

</div>
		
<div>asdsadadsads</div>