<div id="dark-background" *ngIf="isSignIn || isSignUp" (click)="backToMain()"></div>


<div id="top-bar">
  <ul>
    <li class="toleft"><a>Home</a></li>
    <li class="toright" (click)="onSignInClick()"><a>Sign in</a></li>
    <li class="toright" (click)="onSignUpClick()"><a>Sign up</a></li>
  </ul>
</div>

<div *ngIf="isSignIn">
  <app-login></app-login>
</div>

<div *ngIf="isSignUp">
  <app-register></app-register>
</div>
<div id="tiles">
<div class="liveTile" (click)="choosenTile(event)" name="programming" >
	<!--
		<div class="container" (click)="choosenTile(event)" name="programming">
		</div>
	-->
	</div>
	
	<div class="liveTile tl_Gray">
		<div class="container">
				<i class="fa fa-camera"></i>
			<span>Photo and Video editing</span>
		</div>
	</div>
	<br>
	<div class="liveTile tl_Gray tl_miniBig">
		<div class="container">
				<i class="fa fa-chart-bar"></i>
			<span>Add project</span>
		</div>
	</div>
	<div class="liveTile tl_Gray">
			<div class="container">
					<i class="fa fa-chart-bar"></i>
				<span>Photo course</span>
			</div>
		</div>
		<br>
		<div class="liveTile tl_Gray tl_miniBig">
			<div class="container">
				<img src="https://cdn4.iconfinder.com/data/icons/e-commerce-icon-set/48/More_2-128.png">
				<span>Add project</span>
			</div>
		</div>
</div>
