<div id="dark-background" *ngIf="isSignIn || isSignUp" (click)="backToMain()"></div>


<div id="top-bar">
  <ul>
    <li class="toleft"><a>Home</a></li>
    <li class="toright" (click)="onSignInClick()"><a>Sign in</a></li>
    <li class="toright" (click)="onSignUpClick()"><a>Sign up</a></li>
  </ul>
</div>

<div class="form-div" *ngIf="isSignIn">
  <app-login></app-login>
</div>

<div class="form-div" *ngIf="isSignUp">
  <app-register></app-register>
</div>
<section>
	<img src="assets/learn.png">
	<article>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</article>
</section>
