#top-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
}

#top-bar li[class="toleft"] {
    float: left;
}

#top-bar li[class="toright"] {
    float: right;
}

#top-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#top-bar li a:hover {
    background-color: rgb(245, 170, 7);
}


#dark-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
    position: absolute;
    z-index: -2;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
/*++++++Welcome+++++*/
#tiles{
    position: absolute;
    top: 45px;
    z-index: -100;
}
#tiles span {
    color: black;
}

.liveTile {
    background-image: url("assets/code.png");
    display:inline-block;
    width:200px;
    height:200px;
    margin:5px;
    overflow: hidden;
    background:#dcdcdc;
    border:2px solid #cccccc;
  }
  
  .liveTile:hover {
    background-color: rgb(245, 170, 7);
    -webkit-transition: 500ms;
    transition: 500ms;
}
  
  .liveTile .container {
    position:relative;
    top:-200px; 
    
    -webkit-animation:  moveFromUp 15s ease infinite;
  }
  
  .liveTile img {
    display:inline-block;
    text-align:center;
    margin:20%;
    width:60%;
    height: 40px;
  }
  
  .liveTile span {
    display:inline-block;
    width:100%;
    font:20px Segoe UI;
    text-align:center;
    margin:20% 0px;
    vertical-align:middle;
  }
  
  @-webkit-keyframes moveFromUp {
    0% {top: -200px;}
    45% { top: 0px; }
    55% { top: 0px; }
  }
  
  .tl_Gray {
    background:#dcdcdc;
    border:2px solid #cccccc;
    color: #adadad;
  }
  
  .tl_miniBig {
    width:420px;
  }