<header id="top-bar">
    <ul>
      <li class="toleft"><img id="logoimg" src="assets/logo.png" />
      <li class="toleft" id="logo">FIXEDCHANCE</li>
      <li class="toleft"><a routerLink="../home">DASHBOARD</a></li>
      <li class="toright"><a (click)="onLogoutClick()">LOGOUT</a></li>
      <li class="toright"><a routerLink="../profile">PROFILE</a></li>
    </ul>
  </header>
  
<div id="bck"></div>

<div id="main-content">

  <div id="exam-content">
    <form>
      <div *ngFor="let question of course.questions">
        <div id="{{ question.id }}" class="question">
          {{ question.question | uppercase }}
          <!-- SINGLE ANSWER, TRUE FALSE, YES NO -->
          <div *ngIf="question.questionType === 'SA' || question.questionType === 'TF' || question.questionType === 'YN'">
            <div *ngFor="let answer of question.answers">
              <input (click)="addClass($event)" id="{{ answer.id }}" name="{{ question.id }}" type="radio">{{ answer.answer }}
            </div>
          </div>

          <!-- MULTIPLE ANSWER -->
          <div *ngIf="question.questionType === 'MA'">
            <div *ngFor="let answer of question.answers">
              <input (click)="addClass($event)" id="{{ answer.id }}" name="{{ question.id }}" type="checkbox">{{ answer.answer }}
            </div>
          </div>

          <!-- WRITTEN ANSWER -->
          <div *ngIf="question.questionType === 'WA'">
            <div *ngFor="let answer of question.answers">
              <textarea (click)="addClass($event)" id="{{ answer.id }}" name="{{ question.id }}" placeholder="Write your answer"></textarea>
           </div>
          </div>
       </div>
     </div>  
      <hr>
      <div style="margin: 0 auto; text-align: center">
       <button id="submit-button" (click)="submitButtonClicked()">SUBMIT</button>
      </div>
    </form>
  </div>

</div>
    