<header id="top-bar">
  <ul *ngIf="contentLoaded">
    <li class="toleft"><img id="logoimg" src="assets/logo.png" />
    <li class="toleft" id="logo">FIXEDCHANCE</li>
    <li class="toleft"><a routerLink="../../home">DASHBOARD</a></li>
    <li class="toright"><a (click)="authService.onLogOutClick()">LOGOUT</a></li>
    <li class="toright"><a routerLink="../../profile">PROFILE</a></li>
  </ul>
</header>

<div id="bck">
</div>
<div id="main-content">
  <div id="wall" *ngIf="contentLoaded">

  <!-- Post -->
      <div (ngModel)="post" class="item fu" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="500"
      id="{{ post.id }}">
      <div class="up-button"><i (click)="onUpVoteClicked($event)" id="{{ post.id }}" class="fa fa-chevron-up"></i></div>
      <div class="rating"> {{ post.rating }}</div>
      <div class="down-button"><i (click)="onDownVoteClicked($event)" id="{{ post.id }}" class="fa fa-chevron-down"></i></div>
      <div class="user" id="{{ post.userName }}" (click)="onUserClicked($event)"> {{ post.userName }} </div>
      <p class="post-content">{{ post.postContent }}</p>
    </div><br>


  <!-- New Comment Form -->
    <div class="comment-form" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="500"
      id="{{ post.id }}">
      <textarea class="comment-content" type="text" [(ngModel)]="commentCont" placeholder="Type your idea" ></textarea><br>
      <button class="shareButton" (click)="addComment(post.id)">Share</button>
    </div>


  <!-- Comments -->
    <div class="comments">
        <div *ngFor="let comment of post.comments.slice().reverse()" class="item" data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="500"
        id="{{ comment.id }}">
        <div class="up-button"><i (click)="onUpVoteClicked($event)" id="{{ comment.id }}" class="fa fa-chevron-up"></i></div>
        <div class="rating"> {{ comment.rating }}</div>
        <div class="down-button"><i (click)="onDownVoteClicked($event)" id="{{ comment.id }}" class="fa fa-chevron-down"></i></div>
        <div class="user" id="{{ comment.username }}" (click)="onUserClicked($event)"> {{ comment.username }} </div>
        <p class="post-content">{{ comment.commentText }}</p>
    </div><br>
  </div>
</div>
