<header id="top-bar">
  <ul>
    <li class="toleft"><img id="logoimg" src="assets/logo.png" />
    <li class="toleft" id="logo">FIXEDCHANCE</li>
    <li class="toleft"><a routerLink="../../home">DASHBOARD</a></li>
    <li class="toleft"><a routerLink="../../users">USERS</a></li>
    <li class="toright"><a (click)="authService.onLogOutClick()">LOGOUT</a></li>
    <li class="toright"><a routerLink="../../profile">PROFILE</a></li>
  </ul>
</header>

<div id="bck"></div>

<!-- START OF MAIN CONTENT -->
<div id="main-content" *ngIf="contentLoaded">

  <!-- START OF HEADER -->
  <div id="header-content">
    
    <div id="teacher-info-div">
      <span id="profile-pic-span"><img id="profile-pic" src="assets/kohrobi.jpg"></span>
      <div id="teacher-stats">
        <span id="teacher-name" [attr.name]="teacher.user.username" (click)="onUserNameClick($event)">{{ teacher.user.username }}</span><br>
        <span id="progress-bar">
          <circle-progress
          [radius]="50"
          [percent]="percentage"
          [title]="userLevel"
          [titleFontSize]="60"
          [showSubtitle]="false">
          </circle-progress>
        </span>
      </div>
    </div>
      
    <div id="course-info-div">
      <div id="course-name">{{ course.name | uppercase }}</div>
      
      <div id="rating">
        <ng-template #t let-fill="fill">
          <span class="star" [class.full]="fill === 100">
            <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
          </span>
        </ng-template>
        
        <ngb-rating [(rate)]="courseRating" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
      </div>
        
      <div *ngIf="courseRating > 0" id="course-rating">{{ courseRating }}</div>
      
      <div class="stat" id="num-of-videos">Number of videos: {{ course.videos.length }}</div>
      <div class="stat" id="num-of-ratings">Number of ratings: {{ course.reviews.length }}</div>
      <div class="stat" id="num-of-questions">Number of questions: {{ course.questions.length }}</div>
    </div>
  
  </div>
  <!-- END OF HEADER -->

  <!-- START OF MAIN COURSE -->
  <div id="main-course-content">

    <!-- REVIEWS -->
    <div id="reviews">
      <div id="review-title">
        <h1>REVIEWS</h1>
        <h2 *ngIf="course.reviews.length == 0">There are no reviews for this course yet.</h2>
      </div>
      <div id="review" *ngFor="let review of course.reviews">
          <span id="review-student-name" [attr.name]="review.student.username" (click)="onUserNameClick($event)">{{ review.student.username }}</span><ngb-rating [(rate)]="review.rating" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating><br>
        <span id="review-description"><li>{{ review.description }}</li></span>
      </div>
    </div>
    <!-- REVIEWS -->
    
    <hr>

    <!-- VIDEOS -->
    <div id="videos">
      <div id="video-title">
        <h1>VIDEOS</h1>
      </div>
      <div *ngIf="isAvailable == true">
        <div *ngFor="let video of course.videos | slice : 0 : 2">
          <div id="video">
            <div id="video-name">{{ video.name | uppercase }}</div>
            <div id="video-description"><li>{{ video.description }}</li></div>
            <iframe width="560" height="315" [src]="video.video | safe" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div *ngIf="isAvailable == false">
        <div *ngFor="let video of course.videos">
          <div id="video">
            <div id="video-name">{{ video.name | uppercase }}</div>
            <div id="video-description"><li>{{ video.description }}</li></div>
            <iframe width="560" height="315" [src]="video.video | safe" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- VIDEOS -->

    
    <hr>
    
    <div *ngIf="isAvailable == false">
      <div id="done-with-course">
        <button id="proceed-button" (click)="onExamClick()">SEE THE EXAM</button>
      </div>
    </div>
    
    <div *ngIf="isAvailable == true">
      <div id="pay-for-course">
        <h2>There are {{ course.videos.length - 2 }} videos and {{ course.questions.length }} questions left<br>
          in this course for you.</h2><br>
          <h1>{{ coursePrice | number }}$</h1>
          <div id="paypal-button-container"></div>
        </div>
      </div>
    </div>
    <!-- END OF MAIN COURSE -->
</div>
<!-- END OF MAIN CONTENT -->