<div id="transition" class="hidden"></div>

<header id="top-bar">
  <ul>
    <li class="toleft"><img id="logoimg" src="assets/logo.png" />
    <li class="toleft" id="logo">FIXEDCHANCE</li>
    <li class="toleft"><a routerLink="../home">DASHBOARD</a></li>
    <li class="toright"><a (click)="authService.onLogOutClick()">LOGOUT</a></li>
    <li class="toright"><a routerLink="../profile">PROFILE</a></li>
  </ul>
</header>

<div id="bck"></div>

<div id="main-content">
  <div id="title-div">
    <h1 id="title">ADD NEW COURSE</h1>
    <button class="submit-button" (click)="displayCourse()">DISPLAY COURSE</button>
    <button class="submit-button" (click)="engage()">DEMO MODE</button>
  </div>

  <hr>

    <div id="add-course-div">
      <h2>COURSE NAME</h2>
      <input id="course-name" type="text" [(ngModel)]="course.courseName" name="name"><br>
      
      <hr>
      
      <!-- TOPICS -->
      <h2>TOPICS</h2>
      <h4>(minimum 3, maximum 10)</h4>
      <div id="topic-wrapper">
        <span class="added-topic" (click)="removeTopic($event)" id="{{ topic }}" *ngFor="let topic of course.topics">
          <span id="{{ topic }}" style="width: 100%; height: 100%">{{ topic }}</span>
        </span>
      </div>
      <input id="topic-input" *ngIf="topics.length <= 10" type="text" (keyup)="topicKey($event)" [(ngModel)]="currentTopic" name="topic" maxlength="12">
      <!-- TOPICS -->

      <hr>
      
      <!-- VIDEOS -->
      <div id="videos">
        <h2>VIDEOS</h2>
        <h4>(minimum 3, maximum 15)</h4>

        <div *ngFor="let video of course.videos; let i = index">
          <div class="video-div">
            <div id="delete-video-button" (click)="removeVideo(i)" *ngIf="i > 2"><i class="fa fa-close"></i></div>
            <input class="video-name-input" [(ngModel)]="course.videos[i].name" name="video-name" placeholder="VIDEO NAME"><br>
            <input class="video-desc-input" [(ngModel)]="course.videos[i].description" name="video-description" placeholder="VIDEO DESCRIPTION"><br>
            <input class="video-url-input" [(ngModel)]="course.videos[i].url" name="video-url" placeholder="VIDEO URL">
          </div>
        </div>
        <div *ngIf="course.videos.length < 15" id="add-video-button" (click)="incrementVideoNum()"><i class="fa fa-plus"></i></div>

      </div>
      <!-- VIDEOS -->

      <hr>

      <!-- QUESTIONS -->
      <div id="questions">
        <h2>QUESTIONS</h2>
        <h4>(minimum {{ course.videos.length }}, maximum {{ course.videos.length * 3 }})</h4>
      
        <div *ngFor="let question of course.questions; let i = index">
          <div class="question-div">
              <div id="delete-question-button" (click)="removeQuestion(i)" *ngIf="i > 2"><i class="fa fa-close"></i></div>
              <input class="question-input" [(ngModel)]="course.questions[i].question" name="question-name" placeholder="QUESTION"><br>
              <select [(ngModel)]="course.questions[i].questionType" (change)="onChange(i)" name="question-type">
                <option style="color:grey" value="NO" disabled selected="true">SELECT QUESTION TYPE</option>
                <option value="SA">SINGLE ANSWER</option>
                <option value="MA">MULTIPLE ANSWER</option>
                <option value="WA">WRITTEN ANSWER</option>
                <option value="YN">YES / NO</option>
                <option value="TF">TRUE / FALSE</option>
              </select>

              <!-- SINGLE & MULTIPLE ANSWER -->
              <div *ngIf="course.questions[i].questionType === 'SA' || course.questions[i].questionType === 'MA'">
                <div class="s-m-answer" *ngFor="let field of course.questions[i].questionAnswers; let j = index;">
                  <input class="question-answer" [(ngModel)]="course.questions[i].questionAnswers[j].answer" name="answer"/>
                  
                  <div class="radio" *ngIf="course.questions[i].questionType === 'SA'">
                    <input class="answer-radio"
                           type="radio"
                           [attr.name]="'sa-radio-' + i"
                           [value]="field.answer">
                          
                  </div>

                  <div class="check" *ngIf="course.questions[i].questionType === 'MA'"><input class="answer-checkbox" [(ngModel)]="course.questions[i].questionAnswers[j].isRight" type="checkbox" name="checkbox" [value]="checked ? false : true"></div>
                  <div class="x"><span class="delete-answer-button" (click)="removeAnswer(i, j)" *ngIf="j > 2"><i class="fa fa-close"></i></span></div>
                </div>
                <div *ngIf="course.questions[i].questionAnswers.length < 8" id="add-answer-button" (click)="incrementAnswerNum(i)"><i class="fa fa-plus"></i></div>
              </div>
              <!-- SINGLE & MULTIPLE ANSWER -->
              
              <!-- YES / NO & TRUE / FALSE -->
              <div *ngIf="course.questions[i].questionType === 'YN' || course.questions[i].questionType === 'TF'">
                <div class="yesno" *ngIf="course.questions[i].questionType === 'TF'">
                  <span>TRUE</span>
                  <input class="answer-radio" [(ngModel)]="course.questions[i].questionAnswers[0].isRight" type="radio" name="sa-radio{{i}}" [value]="checked ? false : true"><br>
                  <span>FALSE</span>
                  <input class="answer-radio" [(ngModel)]="course.questions[i].questionAnswers[1].isRight" type="radio" name="sa-radio{{i}}" [value]="checked ? false : true">
                </div>
                <div class="truefalse" *ngIf="course.questions[i].questionType === 'YN'">
                  <span>YES</span>
                  <input class="answer-radio" [(ngModel)]="course.questions[i].questionAnswers[0].isRight" type="radio" name="sa-radio{{i}}" [value]="checked ? false : true"><br>
                  <span>NO</span>
                  <input class="answer-radio" [(ngModel)]="course.questions[i].questionAnswers[1].isRight" type="radio" name="sa-radio{{i}}" [value]="checked ? false : true">
                </div>
              </div>
              <!-- YES / NO & TRUE / FALSE -->
              
              <!-- WRITTEN ANSWER -->
              <div *ngIf="course.questions[i].questionType === 'WA'">
                <textarea rows="4" class="text-area" [(ngModel)]="course.questions[i].questionAnswers[0].answer" name="written-ans"></textarea>
              </div>
              <!-- WRITTEN ANSWER -->

          </div>
        </div>
        <div *ngIf="course.questions.length < course.videos.length * 3" id="add-question-button" (click)="incrementQuestionNum()"><i class="fa fa-plus"></i></div>
      </div>
      <!-- QUESTIONS -->
      
      <hr>

      <div style="margin: 60px;"></div>
      <h2>IF YOU ARE READY...</h2>
      <h2>Current price of the course: {{ coursePrice | number }}$</h2>
      <button id="submit-button" (click)="saveCourse()">SUBMIT</button>
      <div style="margin: 60px;"></div>
    </div>
</div>